@model PocketFinance.Core.Meta

<div class="container mt-5" style="max-width: 600px;">
    <div class="card shadow">
        <div class="card-header bg-primary text-white"><h4>✨ Novo Sonho</h4></div>
        <div class="card-body">
            <form asp-action="Criar">
                <div class="mb-3">
                    <label class="fw-bold">Nome</label>
                    <input asp-for="Nome" class="form-control" required />
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label class="form-label fw-bold">Quanto custa? (Alvo)</label>
                        <div class="input-group">
                            <span class="input-group-text">R$</span>
                            <input asp-for="ValorAlvo" type="text" class="form-control money" required placeholder="0,00" />
                        </div>
                    </div>
                    
                    <div class="col-md-6 mb-3">
                        <label class="form-label fw-bold">Já tenho guardado:</label>
                        <div class="input-group">
                            <span class="input-group-text">R$</span>
                            <input asp-for="ValorAtual" type="text" class="form-control money" value="0,00" />
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="fw-bold">Data Limite</label>
                    <input asp-for="DataLimite" type="date" class="form-control" />
                </div>
                <button type="submit" class="btn btn-success w-100">Salvar 🚀</button>
            </form>
        </div>
    </div>
</div>

@section Scripts 
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}